/* background in index.php */
#BackgroundImage {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
  }
/* background in edit.php*/
  #BackgroundImageEdit {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
  }
/* z-index custom */
.z-index{
  z-index: 3;
}  
/* navbar */
#navbar_header{
 background-image: url(../image/char-1-male.jpg);
 background-size: cover;
 z-index:4; 
}
/* card body */
#card_body{
  width: 18rem;
  float:left;
}
/* card header */
#card_header{
  font-size: 25px; 
  text-decoration:none;
}
/* card image */
#CardImg{
  width: 200px;
  margin-bottom: 10px;
}
/* button into modal */
#button_into_modal{
  text-decoration: none;
}
/* delete */
#button_delete{
  font-size:27px ;
}

/* font */
@font-face {
  font-family: "Font Digital";
  src: url("../font/ValorantFont.ttf");
  }
/* how font called */
.Font1 {
  font-family: "Font Digital";
  }
/* loading */
  #loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.4;
    background-color: blueviolet;
    z-index: 8;
    text-align: center;
  }
/* loading giv */
  #loading-image {
    position: absolute;
    top: 200px;
    left: auto;
    z-index: 8;
  }